@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
body {
    font-family: 'Prompt', sans-serif;
}
div {
    font-family: 'Prompt', sans-serif;

}
/* Navbar */
.navbarLink{
    padding-right: .5rem; 
    padding-left: .5rem; 
    display: inline-block; 
    padding: .5rem 1rem;
}
.navbarLink a , .navbar-brand{
    color:#000000;
}
.navbarLink a:hover{
    text-decoration: none;
    color: #818181cb;
    transition: 0.5s;
}
svg{
    color:#333;
}
.category{
    opacity: 0.85;
}
.category :hover{
    opacity : 0.5;
    text-decoration: none;
}

.wrapper-card-img{
    position: relative; 
    /* ไม่กระโดด */
    overflow: hidden; 
    /* ซ่อนภาพ*/
}
.wrapper-card-img::after{
    content:'';
    padding-top:56.25%;
    padding-bottom: 56.25%;
    display: block;
    height: 0;
    
}
.wrapper-card-img img{
    position: absolute;
    top: 0;
}
.wrapper-card-img img:hover{
    transform: scale(2);
    transition: 0.5s;
}
.card {
    border: 0px !important;
}